p {
    font-family: "JetBrains Mono";
}
form {
    position: flex;
}

.prefs {
    background-color: #F6F6F6;
    margin: 4px;
    border-radius: 30px;
    width: 50px;
    height: 50px;
    text-align: center;
    display: flex;
    justify-content: center;
}

.prefs:hover {
    border: 5px solid rgba(214, 255, 161, 1); 
}

.prefs2 {
    border: 5px solid rgba(214, 255, 161, 1); 
    background-color: #F6F6F6;
    margin: 4px;
    border-radius: 30px;
    width: 50px;
    height: 50px;
    text-align: center;
    display: flex;
    justify-content: center;
}

.prefBtns2 {
    display: flex;
    align-items: center;
    justify-content: center;
}

header {
    text-align: center;
}

.image {
    width: auto;
    height: 50px;
    position: relative;
    top: 10px;
}

.allBtns {
    margin: 30px 0 20px;
}

.title {
    font-size: 30px;
    margin-bottom: 30px;
    font-family: "JetBrains Mono";
}

.restricts {
    font-size: 15px;
    margin: 50px 0 15px;
}